<a href="https://colab.research.google.com/github/Deepmidnight/Midnight_nebula/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BA_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8_%C2%AB%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%B8%D1%8F_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8%C2%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
column_names = ['surgery', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 
                'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 
                'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 
                'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?', 'type of lesion1', 
                'type of lesion2', 'type of lesion3', 'cp_data']
df=pd.read_csv("horse_data.csv", sep = ',', na_values='?', names=column_names)

In [ ]:
df_filter=df[['surgery',	'Age',	'rectal temperature',	'pulse',	'respiratory rate',	'temperature of extremities',	'pain',	'outcome']]
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
# Уникальные значения столбцов
print(df_filter['surgery'].unique())
print(df_filter['Age'].unique())
print(df_filter['rectal temperature'].unique())
print(df_filter['pulse'].unique())
print(df_filter['respiratory rate'].unique())
print(df_filter['temperature of extremities'].unique())
print(df_filter['pain'].unique())
print(df_filter['outcome'].unique())

[ 2.  1. nan]
[1 9]
[38.5 39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4
 39.9 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
[ 66.  88.  40. 164. 104.  nan  48.  60.  80.  90.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
[28. 20. 24. 84. 35. nan 16. 36. 12. 52. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
[ 3. nan  1.  4.  2.]
[ 5.  3.  2. nan  4.  1.]
[ 2.  3.  1. nan]

In [ ]:
# Столбец Возраст:
# Согласно описания, данные содержат значения '1' и '2'. Исходя из этого принимаем значение '9' как техническую ошибку. Иправляем на '2'
df_filter.loc[df_filter['Age'] == 9, 'Age'] = 2
df_filter['Age'].value_counts()

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

1    276
2     24
Name: Age, dtype: int64

In [ ]:
#Основные базовые статистики первичного датафрейма:
df_filter.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
# Моды
print('Операция:', df_filter['surgery'].mode()[0])
print('Возраст:', df_filter['Age'].mode()[0])
print('Ректальная температура:', df_filter['rectal temperature'].mode()[0])
print('Пульс:', df_filter['pulse'].mode()[0])
print('Частота дыхания:', df_filter['respiratory rate'].mode()[0])
print('Температура конечностей:', df_filter['temperature of extremities'].mode()[0])
print('Боль:', df_filter['pain'].mode()[0])
print('Исход:', df_filter['outcome'].mode()[0])

Операция: 1.0
Возраст: 1
Ректальная температура: 38.0
Пульс: 48.0
Частота дыхания: 20.0
Температура конечностей: 3.0
Боль: 3.0
Исход: 1.0

In [ ]:
# Дисперсии
print('Операция:', df_filter['surgery'].var())
print('Возраст:', df_filter['Age'].var())
print('Ректальная температура:', df_filter['rectal temperature'].var())
print('Пульс:', df_filter['pulse'].var())
print('Частота дыхания:', df_filter['respiratory rate'].var())
print('Температура конечностей:', df_filter['temperature of extremities'].var())
print('Боль:', df_filter['pain'].var())
print('Исход:', df_filter['outcome'].var())

Операция: 0.24039864425040958
Возраст: 0.07384615384615383
Ректальная температура: 0.5362466875871686
Пульс: 819.7087747035573
Частота дыхания: 311.2483282466308
Температура конечностей: 1.0921372191863994
Боль: 1.7107059217129477
Исход: 0.5434445915916589

In [ ]:
# Межквартильные размахи количественных показателей
Q1_rectal = df_filter['rectal temperature'].quantile(0.25)
Q3_rectal = df_filter['rectal temperature'].quantile(0.75)
IQR_rectal = Q3_rectal - Q1_rectal
print('Ректальная температура:', IQR_rectal)

Q1_pulse = df_filter['pulse'].quantile(0.25)
Q3_pulse = df_filter['pulse'].quantile(0.75)
IQR_pulse = Q3_pulse - Q1_pulse
print('Пульс:', IQR_pulse)

Q1_respiratory = df_filter['respiratory rate'].quantile(0.25)
Q3_respiratory = df_filter['respiratory rate'].quantile(0.75)
IQR_respiratory = Q3_respiratory - Q1_respiratory
print('Частота дыхания:', IQR_respiratory)

Ректальная температура: 0.7000000000000028
Пульс: 40.0
Частота дыхания: 17.5

In [ ]:
#Выбросы:
lower_bound_surgery = Q1_surgery - (1.5 * IQR_surgery) 
upper_bound_surgery = Q3_surgery + (1.5 * IQR_surgery)
remove_outliers_surgery = df_filter[df_filter['surgery'].between(lower_bound_surgery, upper_bound_surgery, inclusive=True)]
remove_outliers_surgery.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

<ipython-input-591-11838402f158>:4: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_surgery = df_filter[df_filter['surgery'].between(lower_bound_surgery, upper_bound_surgery, inclusive=True)]

In [ ]:
lower_bound_age = Q1_age - (1.5 * IQR_age) 
upper_bound_age = Q3_age + (1.5 * IQR_age)
remove_outliers_age = df_filter[df_filter['Age'].between(lower_bound_age, upper_bound_age, inclusive=True)]
remove_outliers_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     275 non-null    float64
 1   Age                         276 non-null    int64
 2   rectal temperature          220 non-null    float64
 3   pulse                       254 non-null    float64
 4   respiratory rate            222 non-null    float64
 5   temperature of extremities  228 non-null    float64
 6   pain                        228 non-null    float64
 7   outcome                     275 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 19.4 KB

<ipython-input-592-4902a9650f2d>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_age = df_filter[df_filter['Age'].between(lower_bound_age, upper_bound_age, inclusive=True)]

In [ ]:
lower_bound_rectal = Q1_rectal - (1.5 * IQR_rectal) 
upper_bound_rectal = Q3_rectal + (1.5 * IQR_rectal)
remove_outliers_rectal = df_filter[df_filter['rectal temperature'].between(lower_bound_rectal, upper_bound_rectal, inclusive=True)]
remove_outliers_rectal.info()

<ipython-input-593-dddaebe3359c>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_rectal = df_filter[df_filter['rectal temperature'].between(lower_bound_rectal, upper_bound_rectal, inclusive=True)]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     225 non-null    float64
 1   Age                         226 non-null    int64
 2   rectal temperature          226 non-null    float64
 3   pulse                       220 non-null    float64
 4   respiratory rate            199 non-null    float64
 5   temperature of extremities  185 non-null    float64
 6   pain                        187 non-null    float64
 7   outcome                     225 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 15.9 KB

In [ ]:
lower_bound_pulse = Q1_pulse - (1.5 * IQR_pulse) 
upper_bound_pulse = Q3_pulse + (1.5 * IQR_pulse)
remove_outliers_pulse = df_filter[df_filter['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True)]
remove_outliers_pulse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     270 non-null    float64
 1   Age                         271 non-null    int64
 2   rectal temperature          229 non-null    float64
 3   pulse                       271 non-null    float64
 4   respiratory rate            231 non-null    float64
 5   temperature of extremities  225 non-null    float64
 6   pain                        225 non-null    float64
 7   outcome                     270 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 19.1 KB

<ipython-input-594-321886d6c7c1>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_pulse = df_filter[df_filter['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True)]

In [ ]:
lower_bound_respiratory = Q1_respiratory - (1.5 * IQR_respiratory) 
upper_bound_respiratory = Q3_respiratory + (1.5 * IQR_respiratory)
remove_outliers_respiratory = df_filter[df_filter['respiratory rate'].between(lower_bound_respiratory, upper_bound_respiratory, inclusive=True)]
remove_outliers_respiratory.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     224 non-null    float64
 1   Age                         225 non-null    int64
 2   rectal temperature          195 non-null    float64
 3   pulse                       219 non-null    float64
 4   respiratory rate            225 non-null    float64
 5   temperature of extremities  188 non-null    float64
 6   pain                        191 non-null    float64
 7   outcome                     224 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 15.8 KB

<ipython-input-595-fcb599c4a91c>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_respiratory = df_filter[df_filter['respiratory rate'].between(lower_bound_respiratory, upper_bound_respiratory, inclusive=True)]

In [ ]:
lower_bound_extremities = Q1_extremities - (1.5 * IQR_extremities) 
upper_bound_extremities = Q3_extremities + (1.5 * IQR_extremities)
remove_outliers_extremities = df_filter[df_filter['temperature of extremities'].between(lower_bound_extremities, upper_bound_extremities, inclusive=True)]
remove_outliers_extremities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     243 non-null    float64
 1   Age                         244 non-null    int64
 2   rectal temperature          198 non-null    float64
 3   pulse                       229 non-null    float64
 4   respiratory rate            201 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        224 non-null    float64
 7   outcome                     243 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 17.2 KB

<ipython-input-596-3ce9f8bfcd20>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_extremities = df_filter[df_filter['temperature of extremities'].between(lower_bound_extremities, upper_bound_extremities, inclusive=True)]

In [ ]:
lower_bound_pain = Q1_pain - (1.5 * IQR_pain) 
upper_bound_pain = Q3_pain + (1.5 * IQR_pain)
remove_outliers_pain = df_filter[df_filter['pain'].between(lower_bound_pain, upper_bound_pain, inclusive=True)]
remove_outliers_pain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     244 non-null    float64
 1   Age                         245 non-null    int64
 2   rectal temperature          200 non-null    float64
 3   pulse                       229 non-null    float64
 4   respiratory rate            201 non-null    float64
 5   temperature of extremities  224 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     244 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 17.2 KB

<ipython-input-597-e6b29bb5eef2>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_pain = df_filter[df_filter['pain'].between(lower_bound_pain, upper_bound_pain, inclusive=True)]

In [ ]:
lower_bound_outcome = Q1_outcome - (1.5 * IQR_outcome) 
upper_bound_outcome = Q3_outcome + (1.5 * IQR_outcome)
remove_outliers_outcome = df_filter[df_filter['outcome'].between(lower_bound_outcome, upper_bound_outcome, inclusive=True)]
remove_outliers_outcome.info()

<ipython-input-598-989e396bb8e5>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_outcome = df_filter[df_filter['outcome'].between(lower_bound_outcome, upper_bound_outcome, inclusive=True)]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
df_drop=df_filter.copy()
df_drop

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
#Доля пропусков в данных
(df_drop.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [ ]:
#Заполнили 1 пропуск в столбце Операция на моду
#Заполнили 1 пропуск в столбце Исход на моду
df_drop['surgery'] = df_drop['surgery'].fillna(df_drop['surgery'].mode()[0])
df_drop['outcome'] = df_drop['outcome'].fillna(df_drop['outcome'].mode()[0])

In [ ]:
#Проверяем медиану столбца Боль без учёта пропусков

df_drop.info()
df_drop['pain'].median()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

3.0

In [ ]:
# Заполняем его медианой
df_drop['pain'] = df_drop['pain'].fillna(df_drop['pain'].median())
df_drop.info()
df_drop['pain'].median()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

3.0

In [ ]:
# Оставшиеся столбцы заполняем по группировке с полными столбцами, на мой взгляд имеющими общую логику, 
# начиная с имеющего наименьшее количество пропусков
df_group=df_drop
df_group['pulse'] = df_group['pulse'].fillna(df_group.groupby(['outcome', 'surgery'])['pulse'].transform('median'))
df_group['temperature of extremities'] = df_group['temperature of extremities'].fillna(df_group.groupby(['outcome', 'pain'])['temperature of extremities'].transform('median'))
df_group['rectal temperature'] = df_group['rectal temperature'].fillna(df_group.groupby(['surgery', 'pulse'])['rectal temperature'].transform('median'))
df_group['respiratory rate'] = df_group['respiratory rate'].fillna(df_group.groupby(['pain', 'Age'])['respiratory rate'].transform('median'))

df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          294 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [ ]:
#Оставшиеся пропуски заполняем медианой
df_group['rectal temperature'] = df_group['rectal temperature'].fillna(df_group['rectal temperature'].median())
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

# Выбросы верно будет оставить, т.к. выбивающиеся из статистических показателей значения, вполне могут быть при разнообразных болезнях и патологиях животного

In [ ]:
# зависимость частоты дыхания от возраста и необходимости операции
print(df_group.groupby(['surgery', 'Age'])['respiratory rate'].median())

surgery  Age
1.0      1      24.0
         2      57.0
2.0      1      24.0
         2      37.0
Name: respiratory rate, dtype: float64

In [ ]:
# зависимость частоты дыхания от болей и необходимости операции
print(df_group.groupby(['surgery', 'pain'])['respiratory rate'].median())

surgery  pain
1.0      1.0     16.0
         2.0     36.0
         3.0     24.0
         4.0     27.5
         5.0     28.0
2.0      1.0     20.0
         2.0     24.0
         3.0     24.0
         4.0     27.5
         5.0     28.0
Name: respiratory rate, dtype: float64

In [ ]:
# зависимость частоты дыхания от необходимости операции и возраста 
print(df_group.groupby(['Age', 'surgery'])['respiratory rate'].median())

Age  surgery
1    1.0        24.0
     2.0        24.0
2    1.0        57.0
     2.0        37.0
Name: respiratory rate, dtype: float64

In [ ]:
# зависимость частоты дыхания от исхода и болей
print(df_group.groupby(['pain', 'outcome'])['respiratory rate'].median())

pain  outcome
1.0   1.0        20.0
      2.0        23.0
      3.0        20.0
2.0   1.0        28.0
      2.0        32.0
      3.0        34.0
3.0   1.0        24.0
      2.0        26.0
      3.0        24.0
4.0   1.0        30.0
      2.0        27.5
      3.0        27.5
5.0   1.0        29.0
      2.0        28.0
      3.0        23.0
Name: respiratory rate, dtype: float64

In [ ]:
# зависимость частоты дыхания от болей и исхода
print(df_group.groupby(['outcome', 'pain'])['respiratory rate'].median())

outcome  pain
1.0      1.0     20.0
         2.0     28.0
         3.0     24.0
         4.0     30.0
         5.0     29.0
2.0      1.0     23.0
         2.0     32.0
         3.0     26.0
         4.0     27.5
         5.0     28.0
3.0      1.0     20.0
         2.0     34.0
         3.0     24.0
         4.0     27.5
         5.0     23.0
Name: respiratory rate, dtype: float64

In [ ]:
# зависимость частоты дыхания от болей и возраста
print(df_group.groupby(['Age', 'pain'])['respiratory rate'].median())

Age  pain
1    1.0     20.0
     2.0     28.0
     3.0     24.0
     4.0     27.5
     5.0     28.0
2    1.0     28.0
     2.0     72.0
     3.0     54.0
     4.0     44.0
     5.0     49.0
Name: respiratory rate, dtype: float64

Сранение статистик:

In [ ]:
df_filter.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
df_group.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.080000,38.177500,71.843333,29.860000,2.370000,2.960000,1.550000
std,0.490023,0.271746,0.675876,27.776439,16.347207,0.977044,1.181689,0.736642
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.100000,64.000000,25.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
# Моды
print('Операция:', df_filter['surgery'].mode()[0])
print('Возраст:', df_filter['Age'].mode()[0])
print('Ректальная температура:', df_filter['rectal temperature'].mode()[0])
print('Пульс:', df_filter['pulse'].mode()[0])
print('Частота дыхания:', df_filter['respiratory rate'].mode()[0])
print('Температура конечностей:', df_filter['temperature of extremities'].mode()[0])
print('Боль:', df_filter['pain'].mode()[0])
print('Исход:', df_filter['outcome'].mode()[0])

Операция: 1.0
Возраст: 1
Ректальная температура: 38.0
Пульс: 48.0
Частота дыхания: 20.0
Температура конечностей: 3.0
Боль: 3.0
Исход: 1.0

In [ ]:
# Моды
print('Операция:', df_group['surgery'].mode()[0])
print('Возраст:', df_group['Age'].mode()[0])
print('Ректальная температура:', df_group['rectal temperature'].mode()[0])
print('Пульс:', df_group['pulse'].mode()[0])
print('Частота дыхания:', df_group['respiratory rate'].mode()[0])
print('Температура конечностей:', df_group['temperature of extremities'].mode()[0])
print('Боль:', df_group['pain'].mode()[0])
print('Исход:', df_group['outcome'].mode()[0])

Операция: 1.0
Возраст: 1
Ректальная температура: 38.1
Пульс: 60.0
Частота дыхания: 24.0
Температура конечностей: 3.0
Боль: 3.0
Исход: 1.0

In [ ]:
# Дисперсии
print('Операция:', df_filter['surgery'].var())
print('Возраст:', df_filter['Age'].var())
print('Ректальная температура:', df_filter['rectal temperature'].var())
print('Пульс:', df_filter['pulse'].var())
print('Частота дыхания:', df_filter['respiratory rate'].var())
print('Температура конечностей:', df_filter['temperature of extremities'].var())
print('Боль:', df_filter['pain'].var())
print('Исход:', df_filter['outcome'].var())

Операция: 0.24039864425040958
Возраст: 0.07384615384615383
Ректальная температура: 0.5362466875871686
Пульс: 819.7087747035573
Частота дыхания: 311.2483282466308
Температура конечностей: 1.0921372191863994
Боль: 1.7107059217129477
Исход: 0.5434445915916589

In [ ]:
# Дисперсии
print('Операция:', df_group['surgery'].var())
print('Возраст:', df_group['Age'].var())
print('Ректальная температура:', df_group['rectal temperature'].var())
print('Пульс:', df_group['pulse'].var())
print('Частота дыхания:', df_group['respiratory rate'].var())
print('Температура конечностей:', df_group['temperature of extremities'].var())
print('Боль:', df_group['pain'].var())
print('Исход:', df_group['outcome'].var())

Операция: 0.24012263099219625
Возраст: 0.07384615384615383
Ректальная температура: 0.45680811036789293
Пульс: 771.5305574136007
Частота дыхания: 267.2311705685619
Температура конечностей: 0.9546153846153846
Боль: 1.3963879598662208
Исход: 0.5426421404682275